raw_data/
.ipynb_checkpoints/
preprocessing.ipynb
movie_sentiment.egg-info/
movie_sentiment_analysis.egg-info/
movie_sentiment/__pycache__/
movie_sentiment/ml_logic/__pycache__/
movie_sentiment/processing/__pycache__/
