
/* sidebar */
.css-6qob1r.e1akgbir3 {
  background-color: #001427;
}

span.css-17lntkn.e1akgbir5 {
  font-size: 20px;
  color: white;

}

.css-pkbazv {
  font-size: 20px;
  color: white;
  /* background-color: #708D81; */
}

a.css-nziaof.e1akgbir6 {
  background-color: #708D81;
}

/* photos */
img {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 30px 10px;
}

/* media links */
img[alt='Foo'] {
  border-radius: 0px 0px;
  width: 30px;
  height: 30px;
}

/* margin */
.block-container.css-z5fcl4.e1g8pov64 {
  padding-top: 60px;
}

/* title */
#movie-sentiment-analysis {
  color: #8D0801;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 0.7em;
  font-weight: 300;
  word-spacing: 3px;
  line-height: 2em;

}

/* subheaders */
h2 {
  color: #BF0603;
  word-spacing: 3px;
  line-height: 0.5em;
  font-weight: 300;
  border-bottom: #BF0603 dotted;
  border-width: 2px;
}

.css-434r0z.esravye3 {
  height: 270px ;
  align-items: center;
}

/* caption */
div[data-testid='caption']  {
  color: #708D81;
  font-size: 16px;
}

footer.css-164nlkn.e1g8pov61 {
  color: white;
}

a.css-1vbd788.e1g8pov62 {
  color: white;
}

.block-container.css-z5fcl4.e1g8pov64 {
  background-image: url(https://img.freepik.com/free-vector/abstract-background-with-hexagons_23-2148995949.jpg?w=2000);
  background-size: cover;
}

.stTextLabelWrapper.css-y4bq5x.e10yodom1 {
  height: 100px;
  align-items: center;

}

.css-183lzff.e170wjxx0 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
