
/* sidebar */
.css-vk3wp9.e1akgbir11  {
  background-color: #001427;
  width: 240px;
}

span.css-17lntkn.e1akgbir5 {
  font-size: 20px;
  color: white;

}

.css-pkbazv {
  font-size: 20px;
  color: white;
}

a.css-nziaof.e1akgbir6 {
  background-color: #708D81;
}

/* photos */
img {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 40px 10px;
}


/* media links */
img[alt='Foo'] {
  border-radius: 0px 0px;
  width: 30px;
  height: 30px;
}

/* margin */
.block-container.css-z5fcl4.e1g8pov64 {
  padding-top: 50px;
}

/* title */
#movie-sentiment-analysis {
  color: #8D0801;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 0.7em;
  font-weight: 300;
  word-spacing: 3px;
  line-height: 2em;

}

/* subheaders */
h2 {
  color: #BF0603;
  word-spacing: 3px;
  line-height: 0.5em;
  font-weight: 300;
  border-bottom: #BF0603 dotted;
  border-width: 2px;
}

/* align team itens vs headers */
.css-434r0z.esravye3 {
  height: 270px ;
  align-items: center;
}

/* caption */
div[data-testid='caption']  {
  color: #708D81;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
}

/* get rid of streamlit on footer */
footer.css-164nlkn.e1g8pov61 {
  color: white;
}

a.css-1vbd788.e1g8pov62 {
  color: white;
}


/* align about us itens vs headers */
.stTextLabelWrapper.css-y4bq5x.e10yodom1 {
  height: 100px;
  align-items: center;
}

/* font for texts */
.css-183lzff.e170wjxx0 {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
}

/* background */
.main.css-uf99v8.e1g8pov65 {
  background-image: url(../movie_sentiment/streamlit/img/background_image.png);
  /* background-image: url("https://media.istockphoto.com/id/1322463784/vector/cinema-white-screen-in-the-cinema-vector-illustration.jpg?s=612x612&w=0&k=20&c=Vw7GvC9grW7PeIwAtplEwRlfdJSvcoLcNsQlulpvJC8="); */
  /* background-image: url('https://drive.google.com/file/d/1Wls2_wdhLR_sbiLdbem5HHHKrDanJH2g/view?usp=sharing/background_image.png'); */
  background-size: cover;
}
